
#topHeader {
    border: 1px solid;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 30px;

}

#cities {
    float: left;
    margin-left: 0px auto;
    border: 1px solid;
    clear: right;
}

#currentDisplay {
    display: none;
    float: left;
    border: 1px solid;
    padding: 30px;
    padding-left: 30px;
    margin: 10px;
    clear: right;
}

#forecast {
    clear: left;
}

.casts {
    float: left;
    margin: 20px;
    border: 1px solid;
    display: none;
    padding: 10px;
}